<?xml version="1.0"?>
<launch>

 <!-- Launch the usb camera acquisition node -->
  <node pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="screen">      
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="video_device" value="/dev/video1" />      
    <param name="pixel_format" value="yuyv" />
    <!-- rename the camera name topic into /camera/image_raw to match the one in visp_auto_tracker/models/calibration.ini file --> 
    <param name="camera_name" value="/astra/image_raw" />
    <param name="camera_info_url" value="package://usb_cam/models/calibrationAstra.ini" type="string" />
   <remap from="/usb_cam/image_raw" to="/astra/image_raw"/>
   <param name="framerate" value="10" />

  </node>
 
</launch>
