<?xml version="1.0"?>
<launch>

  <!-- modify below as requred-->
  <node name="supervisor" pkg="walle" type="supervisor"/>

  <node name="qrLinkedList" pkg="walle" type="qrLinkedList"/>

  <node name="navigation" pkg="walle" type="navigation"/>

  <node name="autoDocking" pkg="walle" type="autoDocking"/>



  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_rviz_launchers)/rviz/navigation.rviz"/>
</launch>
