<launch>

  <arg name="initial_pose_x" default="12.8"/>
  <arg name="initial_pose_y" default="12.0"/>
  <arg name="initial_pose_a" default="0.0"/>

    
      <include file="$(find gaitech_edu)/src/turtlebot/navigation/map_navigation/launch/turtlebot_stage_custom.launch"/>

     <node 
	name="map_navigation" 
	pkg="gaitech_edu" 	
	type="map_navigation_node"
	launch-prefix= "xterm -e" 
	output="screen">
     </node>

</launch>
